---
layout: main
title: Home Page
---

Welcome to our home page. Here's our press releases:

<ul>
{% for pr in collections.pressReleases %}
<li><a href="{{ pr.url }}">{{ pr.data.title }}</a></li>
{% endfor %}
</ul>

Here's a list of cat breeds:

<ul>
{% for breed in breeds %}
<li>{{ breed.name }} - {{ breed.description }}</li>
{% endfor %}
</ul>

You can contact me at {{ site.contactAddress }}